.card {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    cursor: grabbing;
    transition: 0.3s;
    animation-name: animation;
    animation-duration: 0.5s;
}

.disabled {
    cursor: grabbing;
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 100%;
}


@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}