.card {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    cursor: grabbing;
    transition: 0.3s;
    padding-right: 30px;
    position: relative;
}

.cardText {
    word-wrap: break-word;
}

.edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
}

.edit:hover {
    background-color: rgb(232, 232, 232);
}

.disabled {
    cursor: grabbing;
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 100%;
}

.editCard {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.emptyCard {
    color: lightgray;
}